.tela {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    margin: 90px 0 90px 0;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.titulo h1 {
    text-align: center;
    font-size: 50px; 
    padding: 0;
    margin: 0;
}

.titulo .presente {
    transform: scale(0.7)
                rotate(20deg)
                translate(-12px, 20px);
}

.formulario {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formulario h4 {
    text-align: center;
}

.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.botoes button {
    background: none;
    border: 1px solid #fafafa;
    width: 50px;
    height: 50px;
    color: #fafafa;
    font-family: poppins;
    margin: 5px;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.botoes button:hover {
    background: #fafafa;
    color: #303030;
}

@media screen and (max-width: 500px) {

    .titulo h1 {
        font-size: 30px
    }

    .titulo .presente {
        transform: scale(0.7)
                rotate(20deg)
                translate(-12px, 15px);
    }

    .botoes button {
        width: 40px;
        height: 40px;
        margin: 3px;
        border-radius: 4px;
    }
}