.portas {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.botao {
    position: absolute;
    top: 50px;
    left: 50px;
}

.botao button {
    background: none;
    border: 1px solid #fafafa;
    border-radius: 4px;
    font-family: Poppins;
    color: #fafafa;
    display: flex;
    align-items: center;
    padding: 3px 10px;
    cursor: pointer;
}

.botao button span {
    font-size: 10px;
    margin-right: 10px;
}

@media screen and (max-width: 500px) {

    .botao {
        top: 20px;
        left: 20px;
    }
    
    .botao button {
        border: 1px solid #fafafa;
        border-radius: 3px;
        padding: 2px 7px;
        font-size: 10px;
    }
    
    .botao button span {
        font-size: 7px;
        margin-right: 7px;
    }

}